{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static  "css/bootstrap.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}"/>

<link type="text/css" href="{% static  "quant_files/common.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static  "quant_files/jq-common.css" %}">
</head>
<body>
<div class="container-fluid">
    {% block content %} {% endblock %}
</div>
{% block javascript %} {% endblock %}
</body>
</html>