{% load staticfiles %}

<h1>CNICPortfolio</h1>
<div class="container">
	
    <nav class="navbar navbar-default" role="navigation">
        <div>
        		
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
                
                <li><a href="/">主页</a></li>
                <li><a href="{% url 'article:myalgo_list' %}">我的模型</a></li>
                <li><a href="{% url 'article:myalgo_post' %}">模型设计</a></li>
                <li><a href="{% url 'article:article_list' %}">参数优化</a></li>
				<li><a href="/docs/index.html">API文档</a></li>
                <li><a href="{% url 'account:my_home_page' %}">我的主页</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account:user_logout' %}">登出</a></li>
                <li>           </li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">登录</a></li>
                <li><a href="{% url 'account:user_register' %}">注册</a></li>
                <li><a href="{% url 'account:password_reset' %}">密码重置</a></li>
                {% endif %}
                            
            </ul>
        </div>
    </nav>
</div>
