{% load staticfiles %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        

<link type="text/css" href="{% static  "quant_files/common.css" %}" rel="stylesheet">
<link rel="stylesheet" href="{% static  "quant_files/jq-common.css" %}">





	<link rel="stylesheet" href="{% static "css/style.css" %}"/>
    
        <header id="kk_nav" >
		<div class="header-section clearfix">
			<a href="/" class="site-logo">
				<!--img src="{% static "img/logo.jpg" %}" alt=""-->
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
			<nav class="main-menu">
				<ul class="menu-list">
                <li><a href="/">主页</a></li>
                <li><a href="{% url 'article:myalgo_list' %}">我的模型</a></li>
                <li><a href="{% url 'article:myalgo_post' %}">模型设计</a></li>
                <li><a href="{% url 'article:article_list' %}">参数优化</a></li>
				<li><a href="{% static "docs/index.html" %}"/>API文档</a></li>
                <li><a href="{% url 'account:my_home_page' %}">个人信息</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account:user_logout' %}">退出登录</a></li>
                <li>           </li>
                {% else %}
                <li><a href="{% url 'account:user_login' %}">登录</a></li>
                <li><a href="{% url 'account:user_register' %}">注册</a></li>
                {% endif %}
				</ul>
			</nav>
		</div>
    </header>

<div class="container">
	
    <nav class="navbar navbar-default" role="navigation">
        <div>
        		
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
             
            </ul>
        </div>
    </nav>
</div>

