{% extends "pingtai_base.html" %}
{% load staticfiles %}
{% block title %}代码编辑{% endblock %}
{% block title2 %}代码编辑{% endblock %}
{% block content %}
<head>
<script src="{% static  "src/ace.js" %}" type="text/javascript" charset="utf-8"></script>
  <link href="{% static  "jsoneditor/dist/jsoneditor.css" %}" rel="stylesheet" type="text/css">
  <script src="{% static  "jsoneditor/dist/jsoneditor-minimalist.js" %}"></script>
</head>
<head>


        

	



                                                                        
    
    </head>
    <head>
  <meta charset="UTF-8">
  <title>Editor</title>
  <style type="text/css" media="screen">
    .ace_editor, .toolbar {
        border: 1px solid lightgray;
        margin: auto;
        width: 100%;
        font-size: 17px;
    } 
    
    .ace_editor {
        height: 800px;
    }
    </style>

</head>




    <body>
     <div class="kk_main in_wrap">
            <div class="kk_body js-jq-body top_50">
                <div class="content content-area old-style padding_b0">
    <form name="AlgorithmModel">       
        <div id="subnav" class="subnav">  
                              
         <h2 class="algo-title" >   {{algo.title}}  模型代码 & 配置文件</h2>
                                                                
            <div class="pull-right mode-buttons">
                <div class="mode-container head-con">

                    <div class="group-btn inline-block">                          

                        <div class="btn-group inline-block toggle-buttons" id="algo-toggle-buttons">



                            <a href="{% url 'article:run_test' algo.id %}" id="backtest-button">
                                运行模型
                            </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-pane" class="main-pane">
            <div id="algo-area" class="algorithm-area">
                <div id="ide-box" class="box ide" style="width: auto; height: 800px;">

                    <div id="splitter-outer-container">
                        <div id="splitter-container" class="splitter ui-widget ui-widget-content" data-splitter-initialized="true">
                            <div id="code-area" style="height: 621px; position: absolute; left: 0px; width: 46%; border-right: 1px solid rgb(232, 236, 240); min-width: 400px;" class="splitter-pane ui-resizable ui-resizable-autohide">
                                <!-- toolbar start -->
                                
                                <!-- toolbar endt -->

                                <div id="code-area-internal">
                                    <pre id="editor">{{algo.algo_code}}</pre>
                                </div>

                            <div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000; display: none;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000; display: none;"></div><div class="ui-resizable-handle ui-resizable-e" style="z-index: 1000; display: none;"></div></div>
                            <div id="output-pane" style="height:100%; position:absolute;left:46%;width:calc(54% - 10px);margin-left: 10px;" class="splitter-pane">



  <style type="text/css">
    #jsoneditor {
      width: 960px;
      height: 800px;
      
    }



    code {
      background: #f5f5f5;
      font-size: 20px;
      
    }

  </style>
  <div id="jsoneditor"></div>
                                    </div>
                                    

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

            </div>
        </div>
                  
<div id="dataid" d="" style="display:none">{{algo_json}}</div> 
<script>
  const container = document.getElementById('jsoneditor');
  const options = {
    modes: ['text', 'code', 'tree', 'form', 'view'],
    mode: 'code',
    ace: ace,
    theme :"li"
  };
    
    var json1 =  document.getElementById('dataid').innerHTML;
    const json = JSON.parse(json1); 
    const editor1 = new JSONEditor(container, {}, json)
</script>      
  
<script>
    var buildDom = require("ace/lib/dom").buildDom;
    var editor = ace.edit("editor");
    editor.session.setMode("ace/mode/python");
        var refs = {};
    function updateToolbar() {
        refs.saveButton.disabled = editor.session.getUndoManager().isClean();
        refs.undoButton.disabled = !editor.session.getUndoManager().hasUndo();
        refs.redoButton.disabled = !editor.session.getUndoManager().hasRedo();
    }
    editor.on("input", updateToolbar);
    function save() {
        
        localStorage.savedValue = editor.getValue(); 

        
        
        
        
        
        
        
        
        
        editor.session.getUndoManager().markClean();        
        updateToolbar();

    }

    editor.commands.addCommand({
        name: "保存",
        exec: save,
        bindKey: { win: "ctrl-s", mac: "cmd-s" }
    });
    
    buildDom(["div", { class: "toolbar" },
        ["button", {
            ref: "saveButton",
            onclick: save
        }, "保存"],
        ["button", {
            ref: "undoButton",
            onclick: function() {
                editor.undo();
            }
        }, "撤销"],
        ["button", {
            ref: "redoButton",
            onclick: function() {
                editor.redo();
            }
        }, "恢复"],
    ], document.getElementById("code-area-internal"), refs);
    document.getElementById("code-area-internal").appendChild(editor.container)
</script>

{% endblock %}