{% extends "pingtai_base.html" %}
{% load staticfiles %}
{% block title %}优化列表{% endblock %}
{% block title2 %}优化列表{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static  "css/bootstrap.css" %}">
<div>


   
    <table class="table table-hover">
        <tr>
            <td>任务ID</td>
            <td>优化目标</td><td>详情</td>

			<td>运行</td><td>删除</td>
        </tr>
        {% for algo in algoopts %}
        <tr id={{ algo.id }}>
            <td>{{ forloop.counter }}</td>
            <td>{{ algo.task_name }}</td>

            <td>
                <a name="edit" href="javascript:" onclick="show_algo_opt(this,'{{ algo.get_absolute_url }}')">
                <span class="glyphicon glyphicon-file"></span></a>
            </td>
            			<td> <a name="run" href="{% url 'article:run_algo_opt' algo.id %}">
                <span class="glyphicon glyphicon-play"></span></a></td>
            <td>
                <a nane="delete" href="javascript:" onclick="del_article(this, {{ algo.id }})"><span class="glyphicon glyphicon-trash" style="margin-left:20px;"></span></a>
            </td>


        </tr>
        {% endfor %}
    </table>

</div>
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/layer.js" %}"></script>
<script type="text/javascript">
    function show_algo_opt(the, algourl){
         $.ajax({
                url: algourl,
                type:"GET",
                 success : function(data) {
                             layer.open({
                            type: 1,
                            skin: "layui-layer-rim",
                            area: ["800px", "600px"],
                            title: "任务详情",
                            content: '<div class="text-center" style="margin-top:20px"><p>'+data+'</p> </div>',
                        });
                },
            });



    }


</script>

<script type="text/javascript">
    function del_article(the, article_id){
        var article_name = $(the).parents("tr").children("td").eq(1).text();
        layer.open({
            type: 1,
            skin: "layui-layer-rim",
            area: ["400px", "200px"],
            title: "删除文章",
            content: '<div class="text-center" style="margin-top:20px"><p>是否确定删除《'+article_name+'》</p> </div>',
            btn:['确定', '取消'], yes: function(){
                $.ajax({
                    url: '{% url "article:del_myalgoopt" %}',
                    type:"POST",
                    data: {"article_id":article_id},
                    success: function(e){
                        if(e=="1"){
                            parent.location.reload();
                            layer.msg("has been deleted.");
                        }else{
                            layer.msg("删除失败");
                        }
                    },
                })
            },
        });
    }


</script>



{% endblock %}

{% block botton %}                      

  <div class="col-md-6 col-4 align-self-center">
                        <a href="{% url 'article:myalgoopt_post' %}" class="btn pull-right hidden-sm-down btn-success">
                        新建任务</a>
                        </div>
                    {% endblock %}   