{% extends "base.html" %}
{% load staticfiles %}
{% block title %}article column{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'editor/css/style.css' %}">
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">
<div class="container">
    <div class="col-md-10">
        <div style="margin-left:10px">
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
            <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>模型名称:</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.title}}</div>
        </div>
        <div class="row" style="margin-top: 10px;">
        <div class="col-md-2 text-right"><span>投资类别:</span></div>
            <div class="col-md-10 text-left">
                
                    <select id="which_column">
                            {% for column in article_columns %}
                            {% if column == this_article_column.column %}
                            <option value="{{column.id}}" selected="selected">{{column.column}}</option>
                            {% else %}
                            <option value="{{column.id}}">{{column.column}}</option>

                            {% endif %}
                            {% endfor %}
                    </select>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
        <div class="col-md-2 text-right"><span>模型类别:</span></div>
            <div class="col-md-10 text-left">
            
                <select id="which_type">
                    {% for column in algo_type_columns %}
                            {% if column == this_algo_type_column.column %}
                            <option value="{{column.id}}" selected="selected">{{column.column}}</option>
                            {% else %}
                            <option value="{{column.id}}">{{column.column}}</option>

                            {% endif %}
                    {% endfor %}

                </select>
            </div>
        </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>初始资金:</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.initial_capital}}</div>
        </div>         
     
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>初始日期:</span></div>  
            <div class="col-md-10 text-left">{{algo_post_form.start_date}}</div>    
        </div>               
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>结束日期:</span></div>  
            <div class="col-md-10 text-left">{{algo_post_form.end_date}}</div>    
        </div>
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>调仓间隔</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.balanced_dates}}</div>
        </div>   
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>基准标的</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.benchmark}}</div>
        </div>            
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>投资标的</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.portfolio}}</div>
        </div>
                <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>最优化方法</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.opt_criterion}}</div>
        </div> 
                        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>预期收益</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.target_return}}</div>
        </div>    
                <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>预期风险</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.target_risk}}</div>
        </div>  
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>数据周期</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.expected_return_days}}</div>
        </div>
            <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>协方差算法</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.cov_method}}</div>
        </div>
                    <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>贝塔值</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.beta}}</div>
        </div>    
                <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>BL模型P矩阵</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.p_matrix}}</div>
        </div> 
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-2 text-right"><span>BL模型Q矩阵</span></div>
            <div class="col-md-10 text-left">{{algo_post_form.q_matrix}}</div>
        </div>                    
            
            
        
                <div class="row">
                    <input type="button" class="btn btn-primary btn-lg" value="发布" onclick="redit_article()">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "editor/editormd.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/layer.js"%}"></script>


<script type="text/javascript">
function redit_article(){
    var title = $("#id_title").val();
    var column_id = $("#which_column").val();
    var algo_column = $("#which_type").val();
    var portfolio = $("#id_portfolio").val();
    var initial_capital = $("#id_initial_capital").val();
    var balanced_dates = $("#id_balanced_dates").val();
    var start_date = $("#id_start_date").val();
    var end_date = $("#id_end_date").val();
    var benchmark = $("#id_benchmark").val();
    var expected_return_days = $("#id_expected_return_days").val();
    var cov_method = $("#id_cov_method").val();
    var beta = $("#id_beta").val();
    var opt_criterion = $("#id_opt_criterion").val();
    var target_risk = $("#id_target_risk").val();
    var target_return = $("#id_target_return").val();
    var p_matrix = $("#id_p_matrix").val();
    var q_matrix = $("#id_q_matrix").val();

    $.ajax({
        url: "{% url 'article:redit_myalgo' algo.id %}", 
        type: "POST",
        data: {"title":title,
         "portfolio":portfolio, "algo_column":algo_column,"initial_capital":initial_capital,
         "start_date":start_date,"end_date":end_date,"benchmark":benchmark,
         "balanced_dates":balanced_dates,
           "expected_return_days":expected_return_days,
           "cov_method":cov_method,
           "beta":beta,
           "opt_criterion":opt_criterion,
           "target_risk":target_risk,
           "target_return":target_return,
           "p_matrix":p_matrix,
           "q_matrix":q_matrix,         
            
         "column_id":column_id, 
         }, 
        success: function(e){
            if(e=="1"){ 
                layer.msg("successful");
                location.href = "{% url 'article:myalgo_list' %}"; 
            }else{
                layer.msg("sorry."); 
            }
        }, 
    });
}

</script>

{% endblock %}