{% extends "index_base.html" %}
{% load staticfiles %}
{% block content %} 
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!-- Hero section -->
	<section class="hero-section">
		<div class="container">
  
			<div class="row">
				<div class="col-md-6 hero-text">
					<h2>CNIC<span>Portfolio</span> </h2>
					<h3>高性能投资组合计算平台</h3>
					<h4>High performance portfolio computing platform</h4>
						<p>&nbsp</p>
						<a href="{% url 'article:myalgo_list' %}">
                    
						<button class="site-btn sb-gradients">进入平台</button>
						</a>
                    </p>	
				</div>
    				<div class="col-md-6">
					<img src="{% static "img/laptop.png" %}" class="laptop-image" alt="">
				</div>
			</div>
		</div>
	</section>

{% endblock %}