
{% load staticfiles %}
{% block title %}{% endblock %}

{% block content %}

<head>

    <link rel="stylesheet" href="{% static "loginform/css/style.css" %}" type="text/css" media="all">
</head>



    <!-- //header -->

        <div class="main_w3agile">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">注册</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab"></label>
            <div class="login-form">
                <!-- signin form -->
                <div class="signin_wthree">
                    <form method="post" action=".">{% csrf_token %}
                        <div class="group">
                            <label for="{{ form.username.id_for_label }}" class="label">用户名</label>
                             {{form.username}}
                        </div>
                        
                        <div class="group">
                            <label for="{{ form.password.id_for_label }}" class="label">密码</label>
                            {{ form.password }}
                        </div>
                        <div class="group">
                            <label for="{{ form.password.id_for_label }}" class="label">确认密码</label>
                            {{ form.password2 }}
                        </div>
                        <div class="group">
                            <label for="{{ form.email.id_for_label }}" class="label">电子邮件</label>
                            {{ form.email }}
                        </div>
                         <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check">
                                <a a href="{% url 'account:user_login'%}">已有帐号，立刻登录?</a></label> 
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="注册" style="color: #fff;">
                        </div>
                        
                        <div class="hr"></div>

                    </form>
                </div>
                <!-- //signin form -->
                <!-- signup form -->
                <div class="signup_wthree">

                </div>
                <!-- //signup form -->
            </div>
        </div>

    <!-- //section -->

    <!-- //footer -->
    <!-- script for password match -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("两次输入密码不一致");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- script for password match -->


{% endblock %}