{% extends "algo/algo_form_base.html" %}
{% load staticfiles %}
{% block title %}模型设计{% endblock %}
{% block title2 %}模型设计 {% endblock %}



{% block formscript %}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/jquery.steps.js" %}"></script>
<script type="text/javascript" src="{% static "js/layer.js"%}"></script>
<script type="text/javascript">
function publish_article(){
    var title = $("#id_title").val();
    var column_id = $("#which_column").val();
    var algo_column = $("#which_type").val();
    var portfolio = $("#id_portfolio").val();
    var initial_capital = $("#id_initial_capital").val();
    var balanced_dates = $("#id_balanced_dates").val();
    var start_date = $("#id_start_date").val();
    var end_date = $("#id_end_date").val();
    var benchmark = $("#id_benchmark").val();
    var expected_return_days = $("#id_expected_return_days").val();
    var cov_method = $("#id_cov_method").val();
    var beta = $("#id_beta").val();
    var opt_criterion = $("#id_opt_criterion").val();
    var target_risk = $("#id_target_risk").val();
    var target_return = $("#id_target_return").val();
    var p_matrix = $("#id_p_matrix").val();
    var q_matrix = $("#id_q_matrix").val();
    var article_tags = [];
    $.each($("input[name='article_tag']:checked"), function(){article_tags.push($(this).val());});
    $.ajax({
        url: "{% url 'article:myalgo_post' %}",
        type: "POST",
        data: {"title":title,
         "portfolio":portfolio, "algo_column":algo_column,"initial_capital":initial_capital,
         "start_date":start_date,"end_date":end_date,"benchmark":benchmark,
         "balanced_dates":balanced_dates,
           "expected_return_days":expected_return_days,
           "cov_method":cov_method,
           "beta":beta,
           "opt_criterion":opt_criterion,
           "target_risk":target_risk,
           "target_return":target_return,
           "p_matrix":p_matrix,
           "q_matrix":q_matrix,         
            
         "column_id":column_id, "tags":JSON.stringify(article_tags)},
        success: function(e){
            if(e=="1"){
                //layer.msg("successful");
                location.href = "{% url 'article:myalgo_list' %}";//修改后：文章发布成功后跳转到文章列表
            }else if(e=="2"){
                layer.msg("sorry.") ;
            }else{
                layer.msg("请填写必填项目");
            }
        },
    });
}

</script>
            <script>
                $(function (){
                    $("#example-advanced-form").steps({
                        headerTag: "h3",
                        bodyTag: "fieldset",

			labels: {
			cancel: "Cancel",
			current: "current step:",
			pagination: "Pagination",
			finish: "生成模型",
			next: "下一步",
			previous: "上一步",

  			  },
			    onFinished: function (event, currentIndex)
			    {
				publish_article();
			    }

                    });
                });
            </script>
{% endblock %}